*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(14, 238, 197);
}
.calculator{
    position: relative;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgb(37, 34, 34);
    background-color: rgb(238, 226, 226);
    background-image: linear-gradient(red,blue);
}

.calculator .button{
    position: relative;
    display: grid;
}
.calculator .button #value{
    position: relative;
    grid-column: span 4;
    user-select: none;
    width: 100%;
    text-align: end;
    color: rgb(37, 33, 33);
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgb(141, 134, 134),/* can add red color here */
    inset -5px -5px 20px rgb(173, 164, 164);
    border-radius: 10px;
    margin-bottom: 12px;
    padding: 0 20px;
    font-size: 2em;
font-weight: 500;
}

.calculator .button span{
    position: relative;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    border: none;
   /*  border: 2px solid white; we can remove here border */
    box-shadow: inset -5px -5px 10px rgb(8, 193, 218),
    inset -5px -5px 10px rgb(1, 234, 255);
    border-radius: 10px;
}

.calculator .button span:active{
    box-shadow: inset 5px 5px 10px rgb(0, 251, 230),
    inset -5px -5px 10px rgb(0, 200, 255);/* we can reverse here button shadow */
    color: rgb(242, 11, 11);
}

.calculator .button span#clear{
grid-column: span 2;
background-color: rgb(255, 0, 0);
color: white;
border: 2px solid rgb(255, 255, 255);

}
.calculator .button span#plus{
    padding-top: 40px;
    grid-row: span 2;
    background-color: rgb(255, 47, 0);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    }
    .calculator .button span#equal{
        grid-row: span 2;
        background-color: rgb(28, 35, 251);
        color: white;
        border: 2px solid rgb(255, 255, 255);
        }
       
        .calculator .button span#clear:active,
        .calculator .button span#plus:active,
        .calculator .button span#equal:active{
            box-shadow: inset 5px 5px 10px rgb(255, 255, 255),
            inset -5px -5px 10px rgb(60, 58, 58),
            inset 5px 5px 10px rgb(232, 222, 222);
        }
       